/* Application-wide styling */
body {
    background-color: #0E1111;
    overflow-x: hidden;
}


/* Element styling */
#result-page,
#slide-container {
    display: none;
}

#landing-page,
#result-page {
    font-family: Radiance-Bold;
}

#project-title,
#kda {
    color: #908D8B;
}

#vs-mini {
    cursor: pointer;
}

#vs-mini:active {
    transform: translateY(4px);
}

#imgDiv {
    margin-bottom: 24px;
}

#ree {
    bottom: -250px;
    font-size: 1px;
    text-align: center;
    position: absolute;
    width: 100%;
}

.pulse {
    animation: pulse .7s infinite;
}

@keyframes pulse {
    0% {
        color: #908D8B;
    }
    100% {
        color: #FF0000;
    }
}

#slide-container {
    margin-bottom: 2rem;
}

.slider {
    width: 200px;
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
}


/* Footer-specific styling */
#footer {
    margin: 3rem 0rem;
}

#nabeek-link:hover,
#match-id:hover {
    cursor: pointer;
    color: #3273DC;
}